<!DOCTYPE html>
<html lang="en">
    <%- include ('partials/head.ejs', { page: "Products" } ) %>
    <body>  
				<nav class="navbar">
            <div>
                <a href="/"> Home </a>
            </div>
        </nav>

        <section>
            <div>
                <h2 class="title">All Products</h2>
            </div>
        </section>

        <main class="container">
            <div>
                <% for (let idx = 0; idx < products.length; idx++){ %>
                    <% const product = products[idx] %>
                    <div>
                        <img src = "<%= product.image %>" alt="Placeholder Image" />
                            <div class>
                                <h3>
                                    <a href = "/products/<%= idx %>">
                                        <%= product.name %>
                                    </a>
                                </h3>
                                <p>$<%= product.price %></p>
                            </div>
                    </div>}
				<% } %>			
            </div>
        </main>
    
	</body>
</html>