<!DOCTYPE html>
<html lang="en">
<%- include('partials/head.ejs', { pageName: oneProduct.name }) %>    
    <body>
        <h1>Show Page</h1>
        <p><%= message %></p>
        <!-- product object referenced by oneProduct -->
        <h2><%= oneProduct.name %></h2>
        <small><%= oneProduct.price %></small>
        <img class="show-image" src="<%=oneProduct.image%>" alt="<%=oneProduct.name %>"/>
        <div>
            <a href ="/products/<%= oneProduct._id %>/edit"> Edit <%= oneProduct.name %> Listing</a>
        </div>
    </body>
</html>